<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css"  media="all">
  <link rel="stylesheet" href="__PUBLIC__/font-awesome/css/font-awesome.min.css" media="all" />
  <link rel="stylesheet" href="__CSS__/admin.css"  media="all">
  <style type="text/css">
    #tooltip{
      position:absolute;
      border:1px solid #ccc;
      background:#333;
      padding:2px;
      display:none;
      color:#fff;
    }
  </style>
</head>
<body id="body">
<div class="tplay-body-div">
  <div class="layui-tab">
    <ul class="layui-tab-title">
      <li class="layui-this">微厨认证</li>
    </ul>
  </div>
  <div class="layui-form-item" style="float: left;">
    <div class="layui-input-inline">
      <input type="text" name="gymname" lay-verify="title" autocomplete="off" placeholder="请输入昵称关键字"
             class="layui-input layui-btn-sm keywords">
    </div>
    <button class="layui-btn layui-btn-sm" lay-submit="" id="serch">立即提交</button>
  </div>
  <table class="layui-table" lay-size="sm" id="demo" lay-filter="test"></table>
  {include file="public/foot"}
  <script type="text/html" id="avatar">
    <img src="{{d.avatar}}" height="100%" max-height="28px" onclick="show_img('{{d.avatar}}')">
  </script>
  <script type="text/html" id="card_front">
    <img src="{{d.card_front}}" height="100%" max-height="28px" onclick="show_img('{{d.card_front}}')">
  </script>
  <script type="text/html" id="card_back">
    <img src="{{d.card_back}}" height="100%" max-height="28px" onclick="show_img('{{d.card_back}}')">
  </script>
  <script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="cert">确认认证</a>
  </script>
  <script>
    layui.use(['layer', 'form'], function () {
      var layer = layui.layer,
              $ = layui.jquery,
              form = layui.form;
    });
    layui.use('table', function(){
      var table = layui.table;
      table.render({
        elem: '#demo'
        ,url: "{:url('admin/users/certificationAll')}"
        ,method:'post'
        ,page: true //开启分页
        ,defaultToolbar: ['filter', 'print', 'exports']
        ,cols: [[
          {field: 'nickname', title: '昵称', align: 'center',width:'20%'}
          ,{field: 'avatar', title: '头像', templet: '#avatar', align: 'center',width:'10%'}
          ,{field: 'mobile', title: '手机号', align: 'center',width:'20%'}
          ,{field: 'card_front', title: '身份证正面', templet: '#card_front', align: 'center',width:'15%'}
          ,{field: 'card_back', title: '身份证背面', templet: '#card_back', align: 'center',width:'15%'}
          ,{fixed: 'right',title:'操作', width:'20%', align:'center', toolbar: '#barDemo'}
        ]]
      });
      $('#serch').click(function () {
        table.reload('demo',{
          where:{
            keywords:$('.keywords').val(),
          },
        })
      })
      //监听工具条
      table.on('tool(test)', function(obj){
        var data = obj.data; //获得当前行数据
        var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
        var tr = obj.tr; //获得当前行 tr 的DOM对象
        if(layEvent === 'cert'){
          layer.confirm('是否确认认证?', { btn: ['确认','拒绝','取消'],btn1: function(){
              $.ajax({
                url: "{:url('admin/users/cert')}",
                data: {id: data.id,is_auth:1},
                success: function (res) {
                  if (res.code == 1) {
                    layer.msg(res.msg, {icon: 1}, {time: 1500});
                  } else {
                    layer.msg(res.msg, {icon: 2}, {time: 1500});
                  }
                  table.reload('demo',{where:{},})
                },
                error: function (data) {
                  layer.msg('连接网络失败，请检查网络设置或联系管理员', { icon: 2 }, { time: 2000 });
                }
              })
            },
            btn2: function(){
              $.ajax({
                url: "{:url('admin/users/cert')}",
                data: {id: data.id,is_auth:2},
                success: function (res) {
                  if (res.code == 1) {
                    layer.msg(res.msg, {icon: 1}, {time: 1500});
                  } else {
                    layer.msg(res.msg, {icon: 2}, {time: 1500});
                  }
                  table.reload('demo',{where:{},})
                },
                error: function (data) {
                  layer.msg('连接网络失败，请检查网络设置或联系管理员', {icon: 2}, {time: 2000});
                }
              })
            },
          })
        }
      });
    });
  </script>
  <script>
    function show_img(t) {
      var img = new Image();
      img.src = t;
      var height = img.height + 50; //获取图片高度
      var width = img.width; //获取图片宽度
      var imgHtml = "<img src='" + t + "' />";
      layer.open({
        type: 1,
        shade: 0.8,
        offset: 'auto',
        area: [width + 'px',height+'px'],
        shadeClose:true,//点击外围关闭弹窗
        scrollbar: false,
        title: "预览",
        content: imgHtml,
        cancel: function () {}
      });
    }
  </script>
</div>
</body>
</html>
